# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Dependency directories
jspm_packages/

# dotenv environment variable files
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

# Lock files
package-lock.json
yarn.lock

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.swp
*~
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

